.droplinebar {
    overflow: hidden;
}

.droplinebar ul {
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
    font: bold 13px Arial;
    background: #659dcc;
}

.droplinebar ul li {
    display: inline;
}

.droplinebar ul li a {
    float: left;
    color: white;
    padding: 9px 11px;
    text-decoration: none;
}

.droplinebar ul li a:visited {
    color: white;
}

.droplinebar ul li a:hover,
.droplinebar ul li .current {
    /*background of main menu bar links onMouseover*/
    color: white;
    background: #464e7f;
}


/* Sub level menus*/
.droplinebar ul li ul {
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    background: #464e7f;
    /*sub menu background color */
    visibility: hidden;
}


/* Sub level menu links style */

.droplinebar ul li ul li a {
    font: normal 13px Verdana;
    padding: 6px;
    padding-right: 8px;
    margin: 0;
    /*border-bottom: 1px solid navy;*/
}

/*sub menu links' background color onMouseover */
.droplinebar ul li ul li a:hover {
    background: #659dcc;
}
