:root {
  --base-margin: 15px;
  --base-padding: 15px;
}

html,
body {
  height: 100%;
  font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


* {
	outline: none;
}


/* Utils
=================================== */
.u-block {
  display: block;
}


/* Layout
=================================== */
.site-header {}

.site-content {}
.site-content--spaced {
  margin-top: 90px;
}

.site-footer {
  height: 60px;
  padding-top: 20px;
  border-top: 1px solid #ddd;
  background-color: #f5f5f5;
}

.main {}

.sidebar {}
.sidebar--left {}
.sidebar--right {}

/* Components
=================================== */
.widget {}
.widget__heading {
  margin-bottom: 15px;
}

.filter {}
.filter__heading {
  margin-bottom: 15px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

a.asc:after, a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;
}
a.asc:after {
  content: /*"\e113"*/ "\e151";
}
a.desc:after {
  content: /*"\e114"*/ "\e152";
}
.sort-numerical a.asc:after {
  content: "\e153";
}
.sort-numerical a.desc:after {
  content: "\e154";
}
.sort-ordinal a.asc:after {
  content: "\e155";
}
.sort-ordinal a.desc:after {
  content: "\e156";
}

.grid-view {}
.grid-view th {
  white-space: nowrap;
}

.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}

.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}

.navbar {
	background-color: #CC0001;
	border: none;
}

.navbar-nav {
  padding-top: 5px;
}
.navbar-nav .nav-link {
	color: white;
	font-weight: 500;
}
.navbar-nav .nav-link:hover {
	color: white;
	background: none;
}

.navbar-brand {
	font-weight: bold;
	font-size: 24px;
	color: white;
}
.navbar-brand:hover,
.navbar-brand:focus, 
.navbar-brand:active {
  color: white;
}

.banner {
	margin: 20px 0px;
}
.banner--728x90 {
	width: 728px;
	height: 90px;
}

.category {
	margin-bottom: 30px;
}
.category__link {
	display: block;
}
.category__link--parent {
	font-weight: bold;
	font-size: 16px;
	padding-bottom: 5px;
	border-bottom: 1px solid #ddd;
	color: #333;
	margin-bottom: 15px;
}
.category__link--parent:hover {
	text-decoration: none;
}
.category__link--child {}

.btn--post-ad {
  background-color: rgba(0,0,0,.5);
}
.btn--post-ad:hover {
  background-color: rgba(0,0,0,.4) !important;
}

.gallery {}
.gallery__preview {
  background-color: white;
  text-align: center;
  border: 1px solid #dddddd;
}
.gallery__image {
  max-width: 100%;
}
.gallery__thumbs {
  margin-bottom: var(--base-margin);
  padding: var(--base-padding);
  background-color: #eeeeee;
}
.gallery__thumb {}


.listing-action {}
.listing-action__link:first-child {
  border-right: 1px solid #aaa;
  margin-right: var(--base-margin);
  padding-right: var(--base-padding);
}
.listing-action__link {
  cursor: pointer;
}
.listing-action__icon {
  margin-right: 2px;
}

.share {}
.share__link {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 0 2px;
  cursor: pointer;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 3px;
  text-indent: -50000em;
}
.share__link--facebook {
  background: #2E4587 url(data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%20%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%20%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2220px%22%20height%3D%2220px%22%20viewBox%3D%220%200%2065.621%20126.364%22%20enable-background%3D%22new%200%200%2065.621%20126.364%22%20%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpath%20id%3D%22f%22%20fill%3D%22%23FFFFFF%22%20d%3D%22M42.594%2C126.364V68.723h19.347l2.897-22.464H42.594V31.918c0-6.504%2C1.806-10.936%2C11.132-10.936%20l11.895-0.005V0.886C63.564%2C0.612%2C56.504%2C0%2C48.288%2C0c-17.15%2C0-28.891%2C10.469-28.891%2C29.693V46.26H0v22.464h19.397v57.641H42.594z%22%2F%3E%20%3C%2Fsvg%3E) no-repeat center;
}
.share__link--twitter {
  background: #199AED url(data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%20%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%20%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%22171.506px%22%20height%3D%22139.379px%22%20viewBox%3D%220%200%20171.506%20139.379%22%20enable-background%3D%22new%200%200%20171.506%20139.379%22%20%20xml%3Aspace%3D%22preserve%22%3E%20%3Cg%20transform%3D%22translate%28-282.32053%2C-396.30734%29%22%3E%20%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M453.826%2C412.806c-6.31%2C2.799-13.092%2C4.689-20.209%2C5.541c7.265-4.355%2C12.845-11.25%2C15.471-19.467%20%20c-6.799%2C4.032-14.329%2C6.96-22.345%2C8.538c-6.417-6.839-15.563-11.111-25.683-11.111c-19.432%2C0-35.187%2C15.754-35.187%2C35.186%20%20c0%2C2.758%2C0.311%2C5.443%2C0.911%2C8.019c-29.243-1.467-55.17-15.476-72.524-36.764c-3.029%2C5.196-4.765%2C11.24-4.765%2C17.688%20%20c0%2C12.208%2C6.212%2C22.978%2C15.653%2C29.288c-5.768-0.183-11.193-1.766-15.938-4.401c-0.004%2C0.146-0.004%2C0.294-0.004%2C0.442%20%20c0%2C17.048%2C12.129%2C31.269%2C28.226%2C34.503c-2.952%2C0.805-6.061%2C1.233-9.27%2C1.233c-2.268%2C0-4.472-0.221-6.62-0.631%20%20c4.478%2C13.979%2C17.472%2C24.151%2C32.87%2C24.435c-12.043%2C9.438-27.214%2C15.063-43.7%2C15.063c-2.84%2C0-5.641-0.167-8.394-0.492%20%20c15.572%2C9.984%2C34.067%2C15.81%2C53.938%2C15.81c64.721%2C0%2C100.113-53.615%2C100.113-100.114c0-1.525-0.034-3.042-0.102-4.553%20%20C443.144%2C426.059%2C449.108%2C419.863%2C453.826%2C412.806L453.826%2C412.806z%22%2F%3E%20%3C%2Fg%3E%20%3C%2Fsvg%3E) no-repeat center;
  background-size: 20px;
}
.share__link--google-plus {
  background: #DC332E url(data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%20%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%20%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2254.722px%22%20height%3D%2256.285px%22%20viewBox%3D%220%200%2054.722%2056.285%22%20enable-background%3D%22new%200%200%2054.722%2056.285%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cg%3E%20%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M28.86%2C32.133l-2.64-2.05c-0.804-0.667-1.903-1.547-1.903-3.158c0-1.618%2C1.099-2.646%2C2.054-3.598%20%20c3.074-2.42%2C6.146-4.996%2C6.146-10.424c0-5.582-3.512-8.518-5.195-9.911h4.539L36.625%2C0H22.193c-3.96%2C0-9.667%2C0.937-13.845%2C4.386%20%20c-3.149%2C2.717-4.685%2C6.463-4.685%2C9.835c0%2C5.725%2C4.396%2C11.528%2C12.157%2C11.528c0.733%2C0%2C1.535-0.072%2C2.342-0.147%20%20c-0.362%2C0.882-0.729%2C1.616-0.729%2C2.863c0%2C2.273%2C1.168%2C3.668%2C2.198%2C4.988c-3.298%2C0.227-9.455%2C0.592-13.994%2C3.382%20%20C1.315%2C39.405%2C0%2C43.146%2C0%2C45.787c0%2C5.436%2C5.123%2C10.498%2C15.746%2C10.498c12.598%2C0%2C19.266-6.97%2C19.266-13.871%20%20C35.014%2C37.344%2C32.084%2C34.848%2C28.86%2C32.133z%20M19.266%2C23.692c-6.302%2C0-9.157-8.147-9.157-13.063c0-1.914%2C0.362-3.89%2C1.609-5.434%20%20c1.175-1.469%2C3.221-2.423%2C5.132-2.423c6.075%2C0%2C9.226%2C8.22%2C9.226%2C13.506c0%2C1.323-0.146%2C3.667-1.83%2C5.361%20%20C23.067%2C22.816%2C21.096%2C23.692%2C19.266%2C23.692z%20M19.338%2C53.209c-7.837%2C0-12.89-3.749-12.89-8.961c0-5.211%2C4.686-6.974%2C6.298-7.558%20%20c3.075-1.035%2C7.031-1.179%2C7.691-1.179c0.732%2C0%2C1.099%2C0%2C1.682%2C0.074c5.571%2C3.964%2C7.989%2C5.94%2C7.989%2C9.694%20%20C30.108%2C49.824%2C26.372%2C53.209%2C19.338%2C53.209z%22%2F%3E%20%3Cpolygon%20fill%3D%22%23FFFFFF%22%20points%3D%2247.358%2C23.58%2047.358%2C16.241%2043.733%2C16.241%2043.733%2C23.58%2036.406%2C23.58%2036.406%2C27.245%2043.733%2C27.245%20%2043.733%2C34.629%2047.358%2C34.629%2047.358%2C27.245%2054.722%2C27.245%2054.722%2C23.58%20%22%2F%3E%20%3C%2Fg%3E%20%3C%2Fsvg%3E) no-repeat center;
  background-size: 17px;
}
.share__link--pinterest {
  background: #C6263A url(data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%20%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%20%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%22121.349px%22%20height%3D%22156.752px%22%20viewBox%3D%220%200%20121.349%20156.752%22%20enable-background%3D%22new%200%200%20121.349%20156.752%22%20%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M64.347%2C0C21.569%2C0%2C0%2C30.67%2C0%2C56.246c0%2C15.486%2C5.862%2C29.263%2C18.438%2C34.396%20c2.063%2C0.844%2C3.909%2C0.029%2C4.507-2.254c0.416-1.58%2C1.4-5.566%2C1.84-7.226c0.603-2.258%2C0.368-3.05-1.296-5.018%20c-3.626-4.277-5.942-9.814-5.942-17.657c0-22.754%2C17.023-43.124%2C44.33-43.124c24.179%2C0%2C37.463%2C14.774%2C37.463%2C34.505%20c0%2C25.961-11.489%2C47.872-28.545%2C47.872c-9.419%2C0-16.47-7.79-14.21-17.344c2.706-11.406%2C7.948-23.716%2C7.948-31.949%20c0-7.37-3.956-13.517-12.144-13.517c-9.629%2C0-17.364%2C9.961-17.364%2C23.305c0%2C8.499%2C2.872%2C14.247%2C2.872%2C14.247%20s-9.854%2C41.751-11.581%2C49.063c-3.439%2C14.562-0.517%2C32.413-0.27%2C34.216c0.145%2C1.068%2C1.518%2C1.322%2C2.14%2C0.516%20c0.889-1.159%2C12.356-15.317%2C16.255-29.465c1.104-4.006%2C6.333-24.748%2C6.333-24.748c3.128%2C5.967%2C12.271%2C11.223%2C21.994%2C11.223%20c28.944%2C0%2C48.581-26.387%2C48.581-61.707C121.349%2C24.873%2C98.728%2C0%2C64.347%2C0z%22%2F%3E%20%3C%2Fsvg%3E) no-repeat center;
  background-size: 15px;
}
.share__link--email {
  background: #454545 url(data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%20%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%20%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2250px%22%20height%3D%2250px%22%20viewBox%3D%220%200%2050%2050%22%20enable-background%3D%22new%200%200%2050%2050%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cg%3E%20%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M0%2C9.544V6.976c0-0.892%2C0.669-1.618%2C1.507-1.729C9.264%2C4.131%2C17.13%2C3.572%2C24.999%2C3.572%20%20S40.734%2C4.13%2C48.435%2C5.246C49.328%2C5.358%2C50%2C6.084%2C50%2C6.976v2.568c-0.17%2C0.613-0.615%2C1.672-1.954%2C2.956L29.017%2C26.897%20%20c-1.062%2C0.837-2.512%2C1.227-4.018%2C1.227c-1.507%2C0-2.956-0.39-4.018-1.227L1.954%2C12.501C0.615%2C11.216%2C0.168%2C10.157%2C0%2C9.544z%20%20M50%2C18.137v24.888c0%2C0.892-0.672%2C1.618-1.565%2C1.729c-7.701%2C1.116-15.624%2C1.674-23.436%2C1.674S9.264%2C45.869%2C1.507%2C44.753%20%20C0.669%2C44.642%2C0%2C43.916%2C0%2C43.024V18.137l17.688%2C13.559c2.065%2C1.563%2C4.688%2C2.233%2C7.31%2C2.233s5.244-0.669%2C7.31-2.233L50%2C18.137z%22%2F%3E%20%3C%2Fg%3E%20%3C%2Fsvg%3E) no-repeat center;
  background-size: 17px;
}

.user {
  margin-bottom: var(--base-margin);
}
.user__media {
  padding: 10px 10px 10px 0;
}
.user__icon {
  font-size: 24px;
}
.user__name {
  font-weight: bold;
  font-size: 24px;
}
.user__member-since {
  font-size: 12px;
  display: block;
}

.safety {}
.safety__media {
  padding: 10px 10px 10px 0;
  width: 50px;
}
.safety__info {
}
.safety__icon {
  font-size: 32px;
  color: green;
}
.safety__tip {}
.safety__link {}

.card {}
.card-media {
  height: 150px;
  overflow: hidden;
  border-radius:  0.25rem 0.25rem 0 0;
  text-align: center;
}
.card-media .card-img-top {
  height: 150px;
  max-width: 100%;
}
.card-meta {
  margin-bottom: 0;
}
.card--listing {}
