@charset "utf-8";
/* CSS Document */
body, html			{
					width: 100%;
					padding: 0px;
					margin: 0px;
					background-color: #d8e7e9;
					font-family: Tahoma;
					font-size: 12px;
					color: #093355;
					background-image:url(../i/body_back.jpg);
					background-repeat:repeat-x;
					}
					
.clear				{
					clear: both;
					}	
					
a, a:visited		{
					color: #000;
					text-decoration: none;
					}
					
a:hover				{
					text-decoration: underline;
					}					
					
#wrapper			{
					width: 940px;
					padding-left: 10px;
					padding-right: 10px;
					margin: 0 auto;
					background-color: #fff;
					background-image:url(../i/body_back.jpg);
					background-repeat:repeat-x;
					
					-moz-box-shadow: 0 0 5px #343b61;
					-webkit-box-shadow: 0 0 5px #343b61;
					box-shadow: 0 0 5px #343b61;
					
					border-radius: 0px 0px 5px 5px; 
					-moz-border-radius: 0px 0px 5px 5px; 
					-webkit-border-radius: 0px 0px 5px 5px;
					}
					
header				{
					height: 41px;
					margin-bottom: 3px;
					}
					
#logo				{
					float: left;
					margin-top: 8px;
					color: #fff;
					}
					
#logo a, #logo a:visited{
					color:#fff;
					}					
					
#logo a:hover		{
					text-decoration:none;
					}

.logo				{
					font-weight:bold;
					font-size:18px;
					}									
					
						
					
#search				{
					float: right;
					margin-top: 8px;
					}
					
#main_menu			{
					margin-bottom: 10px;
					}
					
#top_google_classifieds{
					margin-bottom: 10px;
					}
					
#breadcrump			{
					padding: 4px;
					margin-bottom: 10px;
					padding-left:0px;
					}
					
#content_container	{
					background-color: #fff;
					}					
					
#left_panel			{
					float: left;
					width: 730px;
					}
					
#right_panel		{
					float: left;
					margin-left: 10px;
					width: 200px;
					}
					
h1, h2				{
					font-family: 'Cuprum', Tahoma, Geneva, sans-serif;
					font-size: 24px;
					margin-bottom: 10px;
					}
					
.classified_list_container{
					padding: 20px 10px 20px 0px;
					/*margin-bottom: 20px;*/
					border-bottom: 1px solid #e5e5e5;
					background-color:#fff;
					}
					
.classified_list_container:hover{
					background-color: #ffffd5;
					}					

.classified_list_pic{
					float: left;
					width: 120px;
					margin:5px 0px 0px 10px;
					padding:5px;
					background-color: #fff;
					
					-moz-border-radius: 5px;
				    -webkit-border-radius: 5px;
				    -khtml-border-radius: 5px;
				    border-radius: 5px;
				    
					-moz-box-shadow: 0 0 5px #888;
					-webkit-box-shadow: 0 0 5px#888;
					box-shadow: 0 0 5px #888;
					}

.classified_list_description{
					width: 570px;
					float: left;
					margin: 0px 0px 10px 10px;
					}
					
.classified_list_description a{
					font-family: 'Cuprum', Tahoma, Geneva, sans-serif;
					font-size: 28px;
					color: #000000;
					display:block;
					margin-bottom:10px;
					}

.classified_list_description a:hover, .classified_list_description a:visited{
					text-decoration: underline;
					}

.classified_list_description p{
					margin-bottom: 10px;
					}

.info				{
					color: #2c4272;
					font-size: 11px;
					}

.home_category_block{
					float: left;
					width: 228px;
					margin-right: 15px;
					margin-bottom: 15px;
					}

.home_category_block_title{
					padding: 5px;
					font-family: 'Cuprum', Tahoma, Geneva, sans-serif;
					font-size: 22px;
					}
					
.home_category_block_content{
					padding: 5px;
					border-top: 1px solid #e5e5e5;
					}

.home_category_block_content:hover{
					border-top: 1px solid #ff0000;
					}									

.home_category_block_title a{
					}

.home_category_block_title a:hover, .home_category_block_title a:visited{
					text-decoration: underline;
					}

.home_category_block_item{
					padding: 5px;
					}
					
.home_category_block_item:hover{
					background-color: #ffffd5;
					}

.home_category_block_item a:hover{
					text-decoration:none;
					}									

#footer				{
					padding: 10px 0px;
					margin-bottom: 20px;
					}

.box				{
					margin-bottom: 10px;
					}

.box_title			{
					padding: 5px;
					font-family: 'Cuprum', Tahoma, Geneva, sans-serif;
					font-size: 22px;
					}

.box_content		{
					padding: 5px;
					border-top: 1px solid #e5e5e5;
					}
					
.box_content:hover	{
					border-top: 1px solid #ff0000;
					}					
					
					
					
#location_box a, #location_box a:visited, #history_box a, #history_box a:visited, #filter_box a, #filter_box a:visited{
					display:block;
					padding: 5px 0px;
					text-decoration:none;
					}					
					
#location_box a:hover, #history_box a:hover, #filter_box a:hover{
					background-color: #ffffd5;
					}
					
a.tag_link, a.tag_link:visited{
					display:block;
					float:left;
					
					color: #fff;
					
				    font-weight:bold;
				    font-family: Arial, Helvetica, sans-serif;
				    padding: 5px 12px;
				    margin: 0px 5px 5px 0px;
				    
				    text-shadow: 0 1px 1px rgba(0,0,0,.3);
				    
					-webkit-border-radius: 5px; 
					-moz-border-radius: 5px;
					border-radius: 5px;
					
					border: solid 1px #4277a4;
					background: #4277a4;
					background: -webkit-gradient(linear, left top, left bottom, from(#659dcc), to(#4277a4));
					background: -moz-linear-gradient(top,  #659dcc,  #4277a4);
					filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#659dcc', endColorstr='#4277a4');
					}
					
a.tag_link:hover	{
					text-decoration:none;
					background: #32638d;
					background: -webkit-gradient(linear, left top, left bottom, from(#659dcc), to(#32638d));
					background: -moz-linear-gradient(top,  #659dcc,  #32638d);
					filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#659dcc', endColorstr='#32638d');
					}

/*ad detail*/
					
												
#classified_container{
					}

#classified_container h1{
					color: #000;
					font-size:32px;
					margin-bottom:20px;
					}

#social_buttons		{
					margin-bottom:20px;
					height:24px;
					}
					
#classified_text	{
					float:left;
					width:450px;
					font-size:13px;
					margin-bottom:20px;
					overflow:auto;
					}
					
#classified_info_container{
					float:right;
					width:265px;
					}
					
.info_box			{
					padding: 10px;
					background-color: #d8e7e9;
					margin-bottom:10px;
					
					-webkit-border-radius: 5px; 
					-moz-border-radius: 5px;
					border-radius: 5px;
					
					}

#classified_text ul, ol{
					margin:5px 5px;
					}
					
/*end of ad detail*/

/*publish form*/					
					
.input, .textarea	{
					font-family: Tahoma;
					font-size: 12px;
					padding: 3px;
					border: 1px solid #c0c0c0;
					}
					
.input:focus, .textarea:focus{
					border: 1px solid #6e89ff;
					}
					

.publish_input		{
					padding: 5px;
					font-family:Tahoma;
					font-size: 12px;
					border: 1px solid #c0c0c0;
					}
					
.publish_area		{
					padding: 5px;
					font-family:Tahoma;
					font-size: 12px;
					width:600px;
					border: 1px solid #c0c0c0;
					}
					

.publish_select		{
					padding: 5px;
					font-family:Tahoma;
					font-size: 12px;
					border: 1px solid #c0c0c0;
					}
					
.publish_input:focus, .publish_area:focus, .publish_select:focus{
					border: 1px solid #6e89ff;
					}


.publish_info		{
					padding: 15px 5px 15px 5px;
					margin-bottom:10px;
					background-color: #ffffd5;
					}

.publish_error		{
					background-color: #bb0000;
					color: #fff;
					padding:5px;
					margin-bottom:10px;
					}
					
div.error input,
div.error textarea,
div.error select,
input.error,
textarea.error,
select.error
					{
					background: #FEE;
					border-color: #C00;
					}					

.row				{
					margin: 5px 0;
					}
					
.publish_section_header{
					border-bottom:1px solid #e5e5e5; 
					margin-bottom:20px;
					}
					
.publish_section_header h1, .publish_section_header h2{
					margin-bottom:3px;
					}
					
.last_row_in_publish_section{
					margin-bottom:30px;
					}					

.publish_left_row	{
					float:left; 
					width:350px;
					margin: 5px 0;
					}

.publish_right_row	{
					float:left; 
					margin-left:30px; 
					width:350px;
					margin: 5px 0px 5px 30px;
					}
					
.publish_label_conatiner{
					margin-bottom:5px;
					font-weight:bold;
					}
					
.publish_input_container{
					margin-bottom:5px;
					}					
					
.errorMessage		{
					color: red;
					padding: 5px 7px 0px 0px;
					/*margin: 0 0 5px 0;*/
					}									
					
span.required		{
					color:red;
					}
					
.thelp				{
					color: #909090;
					}					
					
/*end of publish form*/					

.previous hidden a{
					color: #fff;
					}

.page > selected	{
					
					}
					
li.next a			{
					color: #fff;
					}
					
.page_container p	{
					margin:10px 0px;
					}

/*filter box*/
.filter_title		{
					font-weight:bold;
					margin-top:5px;
					}
/*end of filter box*/									
					